#perimetroCirculo {
    width: 40%; // Reduce el ancho al 50% del tamaño original
    height: auto; // Mantiene las proporciones de la imagen
}

ion-card-subtitle{
    font-style: italic;
}

h3{
    font-size: 1.5rem;
}

ion-card-content {
    color: red;
}


